@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.root{

    --cor-de-fundo: #001E40;
    --cor-de-texto: #FFFFFF ;
    --fundo-senha: ;
    --fundo-texto: ;
    --borda: ;
    --tipo-fonte: ;



}

.body{

    background-color: var(--cor-de-fundo);
    text-align: center;
    color: var(--cor-de-texto);
    font-family: var(--tipo-fonte);

}

.titulo-principal{

    font-weight: 700;
    font-style: normal;


}