@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.root{

    --cor-de-fundo: #001E40;
    --cor-de-texto: #FFFFFF ;
    --fundo-senha: #FAF408;
    --fundo-texto: #00FF85;
    --borda: #0075FF;
    --tipo-fonte: sans-serif ;



}

*{
    font-size: 400;
}


.body{

    background-color: var(--cor-de-fundo);
    text-align: center;
    color: var(--cor-de-texto);
    font-family: var(--tipo-fonte);

}

.titulo-principal{

    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-family: "Raleway", sans-serif;
}

.subtitulo{
    font-family: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}